@font-face {
    font-family: tc;
    src: url(./Font/tcheadlinerrough/TCHeadlinerRough-CondRegular.otf);
}
@font-face {
    font-family: nunito;
    src: url(./Font/Nunito/Nunito-VariableFont_wght.ttf);
}